<idea-plugin>
    <id>com.flutterkeyimpact.detector</id>
    <name>Flutter Key Impact Detector</name>
    <vendor email="dev@example.com">Flutter Tools</vendor>

    <description>
        Detects Flutter Key changes and shows impacted files.
    </description>

    <depends>com.intellij.modules.platform</depends>
    <depends>com.intellij.modules.platform</depends>
    <depends>org.jetbrains.plugins.dart</depends>
    <depends>io.flutter</depends>

    <extensions defaultExtensionNs="com.intellij">
        <postStartupActivity implementation="com.flutterkeyimpact.listeners.KeyChangeListener"/>
    </extensions>

</idea-plugin>